<div class="rave-container" [class]="lightsClass">
<div class="content">
    <h1>Contar Patinhos</h1>
<div class="input">
    <span>Digite o número de patinhos:</span>
    <input type="text" id="inputPatinhos" [(ngModel)]="numPatinhos" >
</div>
<div *ngIf="isRaveModeActive">
    <img class="gif1" src="https://usagif.com/wp-content/uploads/2022/4hv9xm/dancing-duck-acegifcom-37.gif" alt="Gif 1">
    <img class="gif2" src="https://pa1.narvii.com/7888/ecadf0f57142a2a08ead1d85d991ef1d6b62ec96r4-332-300_00.gif" alt="Gif 2">
</div>
<div class="buttons"> 
    <button (click)="countPatinhos()" class="generate-button">Gerar Letra</button>
    <button (click)="toggleRaveMode()" class="rave-button">Modo Rave</button>
</div>
<div class="musica"[innerHTML]="result"></div>
</div>

</div>