@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.flashing-lights {
    animation: flashing 0.5s infinite alternate;
    background-color: #fd57be;
    color: aliceblue;
    
  }
  
  @keyframes flashing {
    from {
      background-color: #fd57be;
    }
    to {
      background-color: #d35af8;
    }
  }

 
.rave-container{
   overflow-x: hidden;
   font-family: Poppins;
   display: flex;
   align-items: center;
   flex-direction:column;
   max-height: 100%;
   min-height: 100vh;
   background-color: #2f4f4f;
   color: aliceblue;
}

.input input{
  outline: none;
  border: white 1px solid; 
  font-size: 16px;
  border-radius: 0 5px 5px 0  ;
  padding: 5px;
  width: 50px;
  background-color: transparent;
  color: white;
  text-align: center;

}
.input{
  display: flex;
  flex-direction: row;
}
.input span{
  display: flex;
  border-radius: 5px 0 0 5px;
  align-items: center;
  height: 31px;
  border: white 1px solid;
  padding: 0 10px;
  background-color: white;
  color: black;
}

.buttons button{
  padding: 5px 12px;
  font-family: Poppins;
  border: #f1b 0px solid;
  border-radius: 16px;
}

.buttons{
  display: flex;
  gap: 10px;
}

.content{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 312px;
  gap: 10px;
}

.gif1 {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
}

.gif2 {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
}

.rave-button:hover {
  color: #fcf3f9;
  background-color: #f1b;
}

.generate-button:hover{
  background-color: rgb(246, 248, 150)
}